.about-greece{
    padding-top: 200px;
    padding-bottom: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding-left: 10px;
}

.imagen-content img{
    border-radius: 5px;
}
.about-greece .text-content h2{
   color: #3a6ac3;
   font-size: 3rem;
}

.about-greece .text-content a{
    margin-top: 1.1rem;
    padding: 1rem 4rem;
    background: #3a6ac3;
    color: #fff;
    border-radius: 50px;
}

@media (max-width:949px){
.about-greece{
    grid-template-columns: 1fr;
}
}